[submodule "ext/protovalidate/sys/third_party/abseil-cpp"]
	path = ext/protovalidate/sys/third_party/abseil-cpp
	url = https://github.com/abseil/abseil-cpp
[submodule "ext/protovalidate/sys/third_party/protobuf"]
	path = ext/protovalidate/sys/third_party/protobuf
	url = https://github.com/protocolbuffers/protobuf
[submodule "ext/protovalidate/sys/third_party/re2"]
	path = ext/protovalidate/sys/third_party/re2
	url = https://github.com/google/re2
[submodule "ext/protovalidate/sys/third_party/antlr4"]
	path = ext/protovalidate/sys/third_party/antlr4
	url = https://github.com/antlr/antlr4
[submodule "ext/protovalidate/sys/third_party/cel-cpp"]
	path = ext/protovalidate/sys/third_party/cel-cpp
	url = https://github.com/cel-expr/cel-cpp
[submodule "ext/protovalidate/sys/third_party/protovalidate-cc"]
	path = ext/protovalidate/sys/third_party/protovalidate-cc
	url = https://github.com/bufbuild/protovalidate-cc
