/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status

# native extension build outputs
/ext/protovalidate/target/
/lib/protovalidate/*.so
/lib/protovalidate/*.bundle
/lib/protovalidate/[0-9]*.[0-9]*/

# rbs collection checkout
/.gem_rbs_collection/
/licenses/
